*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    height: 100px;
}
#container_1{
    list-style: none;
    color: white;
    padding: 0px 0px 0px 40px;

}
.all-link{
    text-decoration: none;
    color: #0067b8;
}
.text_container_1{
    display: inline-block;
    margin: 20px 200px 0px 0px;
}
.text_container_link_1{
    color: white;
    display: block;
    text-decoration: none;
}
#photo{
    height: 200px;
    width: auto;
    margin: 100px 0px 0px 180px;
}
#photo_side_text{
    margin: 100px 0px 0px 70px;
}
#top_container_1{
    display: flex;
}
#link_container{
    margin: 40px 0px 0px 200px;
}
.underphoto_link{
    text-decoration: none;
    color: black;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link_text{
    margin: 0px 0px 10px 0px;
}
.link_list{
    list-style: none;
}
.container_2{
    padding: 0px 0px 0px 500px;
    background-color: rgb(199, 199, 199);
}
